* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #cff4fc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 45px;
}

.logo {
    width: 93px;
}

.btn-entre {
    background-color: #0063B2;
    padding: 20px 10px;
    color: white;
    font-size: 18px;
    font-weight: 200;
    border: none;
    border-radius: 10px;
    width: 200px;
    transition: 0.9s;
}

.btn-entre:hover {
    background-color: #004985;
    cursor: pointer;
}

.btn-entre:active {
    background-color: #0063B2;
    transition: none;
}

.topo-estq {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 25px;
}

.titulo-estoque {
    font-weight: 500;
    text-align: center;
    padding: 30px
}

.btn-pesquisa {
    border: none;
    border-radius: 10px;
    background-color: #D9D9D9;
    padding: 10px 15px;
    display: flex;
    gap: 10px;
}

.btn-pesquisa:hover {
    cursor: pointer;
}

.icon {
    width: 26px
}

.btns-estoque {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 20px;
    flex-wrap: wrap;
    gap: 40px
}

.direita-btns {
    display: flex;
    gap: 20px
}

.esquerda-btns {
    display: flex;
    justify-content: right; 
    gap: 20px
}

.btn-estoque {
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    width: 220px;
    font-size: 18px;
}

.btn-estoque:hover {
    cursor: pointer;
}

.produtos-tabela {
    width: 100%;
    margin: 20px auto;
    display: table;
    table-layout: fixed;
    background-color: #F3EFEF;
    border-collapse: collapse;
    border: 1px solid black;
    table-layout: fixed;
}

.scroller {
    overflow-y: scroll;
    height: 90vh;
    width: 90%;
    margin: auto;
    table-layout: fixed;
}

.scroller::-webkit-scrollbar-track {
    border-radius: 10px;
}

.estoque-baixo {
    background-color: rgba(255, 255, 0, 0.5);
}

.produtos-tabela thead tr:first-child {
    display: table-row;
    background-color: #D9D9D9;
    border-color: #D9D9D9;
    border: 1px solid black;
}

.produtos-tabela tr {
    border: 1px solid black;
    height: 80px;
    width: 100%;
}


.produtos-tabela th {
    text-align: center;
    margin: none;
    padding: 10px
}

.produtos-tabela td {
    text-align: center;
    line-height: 60px;
    overflow: hidden;
}

.produtos-tabela tr td {
    height: 100px;
}

.caixa-pesquisa {
    background-color: #D9D9D9;
    width: 40%;
    padding: 20px;
    display: none;
    flex-direction: column;
    gap: 20px;
    margin: 10px auto;
    border-radius: 10px;
    position: absolute;
    height: 500px;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    margin: auto;
}

.fechar {
    background-color: red;
    width: 20px;
    border: none;
    border-radius: 10px;
}

.fechar:hover {
    cursor: pointer;
}
.caixa-pesquisa form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}

.caixa-pesquisa form label, .caixa-pesquisa form p {
    font-weight: bold;
}

.caixa-pesquisa form select, .caixa-pesquisa form input{
    padding: 5px;
    font-size: 16px;
}
.caixa-pesquisa form button {
    background-color: #9CC3D5;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 30%;
    font-size: 18px;
}
footer {
    background-color: #424242;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

footer p {
    color: white;
    font-weight: lighter;
}

footer a {
    position: absolute;
    right: 40px;
}